{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mes Billets</h1>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Date</th>
                <th>Spectacle</th>
                <th>Places</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for res in reservations %}
            <tr>
                <td>{{ res.createdAt|date('d/m/Y') }}</td>
                <td>{{ res.spectacle.titre }}</td>
                <td>{{ res.quantite }}</td>
                <td>{{ res.prixTotal }} €</td>
                <td>
                    <a href="{{ path('app_reservation_paiement', {id: res.id}) }}" class="btn btn-sm btn-info">Voir le reçu</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Vous n'avez pas encore de réservations.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour aux spectacles</a>
</div>
{% endblock %}